@charset "utf-8";

#contents {
    clear: both;
    padding-bottom: 50px;
    width: 100%;
}

#cgvwrap .cgv-ad-wrap .sect-head-ad, .head, .im-wrap, #contents, .foot, .sect-smuse, .sect-cinfo {
    position: relative;
    width: 100%;
}

div {
    display: block;
}


.best_product_text_wrap span {
	display: block;
	text-align: center;
}

.tit-evt {
	width: 100%;
    height: 60px;
    padding-top: 30px;
    border-bottom: 3px solid #241d1e;
}

.tit-evt > h3 {
    display: inline-block;
    position: relative;
    height: inherit;
    margin: 0;
    background-image: none;
    color: #222;
    font-weight: 500;
    font-size: 36px;
    text-align: left;
    vertical-align: middle;
}

.category_wrap {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #cacaca;
    z-index: 101;
}

.category_contents_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    min-width: 100%;
    margin: 0 auto;
    padding: 11px 0;
    background-color: #fff;
}

.category_content {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 740px;
    line-height: 26px;
}

.category_product_wrap {
    width: 100%;
    margin: 0 auto;
    padding: 90px 0;
}

.category_product_list {
    /* overflow: hidden; */
}

.category_product_list > li:first-child .category_product_inner_list li .btn_category_product {
    padding-bottom: 20px;
}

.category_product_list > li:first-child .category_product_inner_list li .btn_category_product .best_product_text_wrap {
    position: static;
    width: 100%;
    height: auto;
    padding-left: 0;
    transform: none;
}

.category_product_list > li:first-child .category_product_title {
    margin-bottom: 30px;
    margin-top: 50px;
}

.category_product_list > li:first-child .category_product_inner_list li .btn_category_product .best_product_text_wrap .best_product_text_title {
    margin-top: 20px;
}

.category_product_inner_list li .btn_category_product .best_product_text_wrap .best_product_text_title {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.category_product_list > li .category_product_title {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 28px;
    color: #000;
    line-height: 1em;
    border-bottom: 1px solid #999;
    margin-top: 50px;
}

.category_product_inner_list {
    overflow: hidden;
    display: flex;
    justify-content:space-around
}

.info_use_wrap {
    overflow: hidden;
    width: 100%;
<<<<<<< HEAD
}

.category_product_detail_title {
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 28px;
    color: #000;
    border-bottom: 1px solid #999;
    margin-top: 20px;
}
.category_product_detail_packege{
	display: flex;
}
.category_product_detail_img {
	width: 50%;
}

.category_product_detail_img img{
	width: 100%;
}

.category_product_detail_txt {
	width: 50%;
	margin-top: 10px;
	font-size: 18px;
}
.category_product_detail_naeyong{
	height: 70%;
}
.category_product_detail_naeyong li{
	padding: 1%;
	font-size: 18px;
}
.category_product_detail_naeyong li:nth-child(1){
	font-size: 25px;
	font-weight: bold;
	
}

.category_product_button {
	height: 20%;
	justify-content: space-around;
	display: flex;
}

button:hover a{
	 color: #2698cb;
}

button{
  background-color: #373e46;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

button > a {
	color: white;
}

@media screen and  (max-width:600px){
    .category_product_detail_naeyong li{
        font-size: 14px;
    }
}
=======
    margin: 0 auto;
    border-top: 1px solid #b2b2b2;
    border-bottom: 1px solid #b2b2b2;
}
>>>>>>> 7935f7d48dc1bcb8f29590517169f2f2e8f05cf0
